.navbar {
	height: 80px;
	
}

.sticky {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

@font-face {
    font-family: LillyBelle;
    src: url(./images/LillyBelle.ttf);
}


h3 {
    font-family: LillyBelle;
    font-size: 30px;
    text-align: center;
}

.text-center{
	font-family: LillyBelle;
	font-size: 30px;
}


<<<<<<< HEAD
=======

>>>>>>> master
#map {
	height:300px;
	width: 100%;
}

a{
	color: black;
	text-align: left;
	size: 20px;
}

.footer{
    border-top-style: solid;
}

