.navbar {
	height: 80px;
	
}

@font-face {
    font-family: LillyBelle;
    src: url(./images/LillyBelle.ttf); 
}


h3 {
    font-family: LillyBelle;
    font-size: 30px;
    text-align: center;
}

.text-center{
	font-family: LillyBelle;
	font-size: 30px;
}

#map {
	height:400px;
	width: 100%;
}

a{
	color: black;
	text-align: left;
	size: 20px;
}

.footer{
    border-top-style: solid;
}

.resultStyle {
	text-align: center;
	border-style: solid;
}
	


