#land {
	width: 100%;
	height: 700px;
	background-color: black;
	background: url(./images/kids.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 70% 550px;
	text-align: center;
	/*background-attachment: fixed;*/
	overflow-y: hidden;
}


#content {
	width: 100%;
	height: 1000px;
	background: #999;
}

.places {
	max-height: 300px;
	overflow: auto;
}

/*#wrapper {
    width: 100%;
    margin: 0 auto;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}*/

.sticky {
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
}
/*.navbar-default {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	border-bottom: 5px solid #ffffff;
}*/